@font-face{
    font-family: CBook; 
    src:url(./fonts/CircularSp-Book-4f217aebee53ffc72f4444f79041ffa5.woff)
}

@font-face{
    font-family: CBold; 
    src:url(./fonts/CircularSp-Bold-79ebb2bdea919cebedea4884d08c499e.woff)
}

@font-face{
    font-family: CMed; 
    src:url(./fonts/CircularStd-Medium.otf)
}

@font-face{
    font-family: CLight; 
    src:url(./fonts/CircularStd-Light.otf)
}

@font-face{
    font-family: CBook2; 
    src:url(./fonts/CircularSpUIv3T-Book.ttf)
}

:root{


}

@keyframes floatIna {
    0% {
      transform: translateY(30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  


.headerwork{
    animation: floatIna 1.5s ease-in-out;

}

.hidden {
    /* display: none; */
    opacity: 0;
    transition: opacity 0.5s ease; /* Adjust the transition duration and timing function as needed */
    pointer-events: none; /* Optional: Disable pointer events when hidden */
}


.scrolling-text #atitle {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: cbold;
    color: var(--t1-color);
    /* letter-spacing: -1px; */
    opacity: 1;
    transition: opacity 0.5s ease; /* Adjust the transition duration and timing function as needed */


    
    
}



.headerwork #atitle {
    font-size: 6rem;
    font-weight: 100;
    font-family: cbold;
    color: var(--t1-color);
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin-bottom: 0;
    max-width: 100%;
    line-height: 6rem;

    /* white-space: nowrap;  */
    /* overflow: hidden; Hide overflow content */
    text-overflow: ellipsis; /* Show ellipsis for overflow content */  
    align-self: flex-end;
    flex: 2;
    vertical-align: bottom ;


    
    

}

.titlebox{
    padding-top: -40px;

    /* border: 1px solid #aaa; */
    height: auto;
    width: 100%;
    display: flex;
    flex: 2;
    flex-direction: ROW;

    /* flex-direction: row; */
    /* margin-top: -90px; */
   

    
    /* overflow: hidden; */

}


.subtext {
    width: auto;
    display: flex;
    font-size: 1rem;
    font-weight: 800;
    font-family: cbold;
    color: var(--t1-color);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    margin: 0;
    align-items: flex-end;
    height: 40px;
}

.year{
    font-family: cbook;
    letter-spacing: 0px;
    font-weight: 100;


}

.year::before {
    content: "•";
    margin: 0px 4px;
}

.headerwork {
    height: 220px;
    display: flex;
    width: 100%;
    padding: 20px 30px;
    padding-bottom: 80px;
}

.headerwork img {
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    margin-right: 25px;
}

.albumcontainer {
    padding-top: -40px;


    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; Align items to the bottom of the flex container */
    
    
}




.gradient{
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -10;
    margin-top: -76px;
    background: linear-gradient(to bottom, rgb(var(--background-rgb)) -50%, var(--sec-color) 100%);


}

/* .projects .imgzoom{
    cursor: zoom-in;
    cursor: zoom-in;



} */


@media only screen and (max-width: 1366px) {

    .headerwork {
        height: 160px;
                width: 100%;
        padding: 20px 30px;
        margin-top: 20px;
        margin-bottom: 30px;

    }

    .headerwork #atitle {
        font-size: 5rem;
        font-weight: 100;
        font-family: cbold; 
        color: var(--t1-color);
        letter-spacing: -2px;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin-bottom: 0;
        line-height: 4rem;

        
        
    }
    
    .subtext {
        width: 100%;
        display: flex;
        font-size: 1rem;
        font-weight: 100;
        font-family: cbold;
        color: var(--t1-color);
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 0;
    }
    

}





@media only screen and (max-width: 850px) {

    .headerwork {
        height: 160px;
                width: 100%;
        padding: 20px 30px;
        margin-top: 20px;
        margin-bottom: 30px;

    }

    .headerwork #atitle {
        font-size: 4rem;
        /* font-weight: 800;
        font-family: cbold; */
        color: var(--t1-color);
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin-bottom: 0;
        line-height: 4rem;

        
        
    }
    
    .subtext {
        width: 100%;
        display: flex;
        font-size: 1rem;
        font-weight: 100;
        font-family: cbold;
        color: var(--t1-color);
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 0;
    }
    

}


@media only screen and (max-width: 620px) {

    .albumcontainer {
     
        align-items: center;
        
        
    }

    .headwrap{
        width: 100%;
    }

    .headerwork {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        padding-top: 40px;
        align-items: center;
        /* margin-bottom: 300px; */
    }

   
    .headerwork img {
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 60%;
    /* margin-bottom: -10px; */
    }


    .headerwork #atitle {
        font-size: 3rem;
        /* font-weight: 800;
        font-family: cbold; */
        color: var(--t1-color);
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin-bottom: 0;
        text-align: center;
        margin-top: 20px;
        line-height: 3rem;

        
        
    }
    
    .headerwork #aartist {
        font-weight: 100;
        font-family: cbold;
      

        
        
    }
    
    .subtext {
        width: auto;
        display: flex;
        font-size: 1rem;
        font-weight: 800;
        font-family: cbold;
        color: var(--t1-color);
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 0;
    }
    




}

  

@media only screen and (max-width: 520px) {
   
    .headerwork #atitle {
        /* margin-left: -140px; */
        text-align: center;
        
       
        font-size: 2.5rem;
        font-weight: 100;
        font-family: cbold;
        color: var(--t1-color);
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin-bottom: 0;
        
        
    }

}

.zoomD {
    display: block;
   
    width: 100%;
    height: auto;
  /* ease | ease-in | ease-out | linear */
    /* transition: all ease-in-out 0.4s; */
    /* cursor: zoom-in; */
    margin: 0;
    font-size: 0px;
  }

@media only screen and (min-width: 850px) {

  .zoomD {
  
    width: 100%;
    height: auto;

  }

  #lb-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 56500;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    /* ease | ease-in | ease-out | linear
 transition: transform ease-in-out 0.5s; */

  }
  #lb-back.show {
    visibility: visible;
    opacity: 1;

  }
  /* LIGHTBOX IMAGE */
  #lb-img {
    position: relative;
    top: 50%;
    transform: translateY(-48%);
    text-align: center;
    height: 100vh;
    overflow: scroll;
    padding: 150px;
}

#lb-img::-webkit-scrollbar {
    width: 0; /* Width of the scrollbar */
    background-color: transparent; /* Background color of the scrollbar track */
}

#lb-img::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the scrollbar thumb */
    border-radius: 0; /* Border radius of the scrollbar thumb */
}

#lb-img::-webkit-scrollbar-thumb:hover {
}


  
  #lb-img img {
    /* FULL WIDTH IMAGE
    width: 100%;
    height: auto;
    cursor: zoom-out; 
    

    */


    /* MAX WIDTH 1200px IMAGE */
    width: 90%;
    /* max-width: 1200px; */
    
    height: auto;
    margin: 0 auto;
    /* cursor: zoom-out; */
  }

}

/* home change */


.home2{
    cursor: none;
}

.home2 {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 600;
    font-family: cbold;
    text-decoration: none;
    transition: color 0.3s ease, stroke 0.3s ease, fill 0.3s ease;  /* Combine transitions into a single line */
    color: var(--t2-color);
}

#homeItem2 svg path {
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    color: inherit;
    stroke: var(--t2-color);
    fill: none;
    transition: color 0.3s ease, stroke 0.3s ease, fill 0.3s ease;  /* Combine transitions into a single line */

}

#homeItem2:hover .home2 {
    color: var(--t1-color);
    stroke: var(--t1-color);
}

#homeItem2:hover .home2 svg path {
    stroke: var(--t1-color);
}

#homeItem{
    width: auto;
}


@media only screen and (max-width: 850px) {


  
    #lb-back {
        display: none;
      /* position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      z-index: 56500;
      visibility: hidden;
      opacity: 0;
      transition: all ease-in-out 0.4s;
      /* ease | ease-in | ease-out | linear
   transition: transform ease-in-out 0.5s; */ */
  
    }
    #lb-back.show {
        display: none;

      visibility: hidden;
      opacity: 0;
  
    }
    /* LIGHTBOX IMAGE */
    #lb-img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
  
  
  }



}


#content {
    visibility: hidden;
}