.bottomplayer{
    position: fixed;
    bottom: 10px;
    height: 11vh;
    
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player {
    -webkit-user-drag: none;
    position: fixed;
    bottom: 10px;
    height: 11vh;
    
    width: 100vw;
    background-color: transparent;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.song-info{
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    padding: 12px;


}
.song-details {
    width: 20px;
    height: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    -webkit-padding-start: 8px;
    min-width: 180px;
    padding-inline-start: 8px;
    width: 30%;
    position: relative;
}

.song-title,
        .artist {
            transition: transform 0.3s ease;
            transform-origin: Bottom left; /* Set the transform origin to top right */
        }

.albumcover{
    margin-bottom: 50px;
    padding-right: 4px;
    border-radius: 100px;
    width: 50px;
    height: 50px;

}


.albumcover img {
    width: 56px; /* Make sure the image fills the entire container */
    height: 56px; /* Ensure the image takes up the full height */
    border-radius: 5px;

}

.image-backer{
    height: auto;
    width: auto;
    background-color: transparent;

}


.song-title {
    font-size: 0.8125rem;
    font-family: cbook2;
    color: var(--t1-color);
    padding-bottom: 4px;
}

.artist {
    font-size: 11px;
    font-family: cbook2;
    color: var(--artist);

    

}





.controls {
    display: flex;

    max-width: 1000px;
    width: 60%;
    align-items: center;
    justify-content: center; /* Updated from align-items to justify-content */
    margin: 0 auto; 
    margin-top: -5px;

}

.play-button{
    width: 32px;
    height: 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background-color: var(--t1-color);
    border: none;
    border-radius: 100px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    position: relative;
    -webkit-transition: none 33ms cubic-bezier(.3,0,.7,1);
    transition: none 33ms cubic-bezier(.3,0,.7,1);
    -webkit-transition-property: all;
    transition-property: all;
    transition: transform 0.1s ease-in-out;
    fill: var(--black);
}

.play-button svg{
    width: 18px;
    
}

.play-button:active {
    transform: scale(1.1);
}


.play-toggle {
    display: none;
}

/* .play-button:hover {
    transform: scale(1.05);

} */


.tobottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    /* background: transparent; */
    border: none;
    color: hsla(0,0%,100%,.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 16px;
    fill: var(--leftright);   
    padding-left: 10px;


}


.totop {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    /* background: transparent; */
    border: none;
    color: hsla(0,0%,100%,.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 16px;
    fill: var(--leftright);   
    padding-right: 10px;

}


.totop:hover, .tobottom:hover{
    fill: var(--t1-color);
}

.rightbtn{
    background-color: transparent;
    outline: none;
    border: none;
}

.play-button svg.swap {
    display: none;
}

.play-toggle:checked + .play-button svg.swap {
    display: block;
}

.play-toggle:checked + .play-button svg.start {
    display: none;
}




.controls svg {
    margin-left: 2px;

    
}



.progress-bar-container {
    margin-bottom: -33px;
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--progress);
    border-radius: 4px;
}
    .progress-bar-container:hover .progress-bar, .progress-bar-container:active .progress-bar{
        background-color: var(--accent-color);

    }

    .progress-bar-container:hover .circle, .progress-bar-container:active .circle{
        display: block;
    }
      
      .progress-bar {
        width: 100%;
        position: absolute;
        height: inherit;
        background-color: var(--t1-color);
        border-radius: 4px;
      }
      

      .circle {
        /* margin-left: 5px; */
        display: none;
         position:absolute; 
         top:-5px; 
         /* left:30%;  */
         width:12px; 
         height :12px; 
         border-radius :50%; 
         background:var(--t1-color); 
      }


      .time {
        margin-right: 5px;
        width: 110.5%;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        font-family: cbook2;
        color: var(--artist);
        font-size: 12px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 6px;
    }




.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-bottom: -45px;
    height: 57px;


}

.sideplayer {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center; /* Align items to the center of the container */
    position: relative;
    justify-content: flex-end; /* Align content to the end of the container */
    bottom: 0;
    gap: 16px;
    top: 16px;
}



#startTime{
    text-align: right;

}




.slider-container {
    position: relative;
    width: 93px;
    height: 4px;
    background-color: var(--progress);
    border-radius: 4px;
}
.slider-bar {
    width: 50%;
    height: inherit;
    background-color: var(--t1-color);
    border-radius: 4px;
    position: relative;

}

.slider-handle {
    position: absolute;
    top: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--t1-color);
    display: none;
    cursor: pointer;
    left: 50%;

}

.slider-container:hover .slider-bar,
.slider-container:active .slider-bar {
    background-color: var(--accent-color);
}

.slider-container:hover .slider-handle,
.slider-container:active .slider-handle {
    display: block;
}

#share{
    /* stroke-width: 3px; */
    justify-self: right;
    /* margin: 0 auto; Added to remove default margin */
    fill: white;
    color: white;
    max-width: 22px;
    max-height: 28px;
    flex-direction: flex end;
    margin-left: auto; /* Align to the right */
    align-items: right; /* Adjusted from center to flex-end */
    fill: var(--leftright);   
    stroke-width: 1px; 
    cursor: pointer;





    

}

.rabbitslider {
    display: flex;
    flex-direction: row; /* or column, depending on your layout */
    align-items: center;
    gap: 3px;
}


.rabbit {
    /* stroke-width: 1px; */
    margin-left: auto; /* Align to the right */
    max-width: 24px;
    max-height: 100px;
    margin-left: 0; /* Align to the right */
    fill: var(--leftright);  
    stroke-width: 1px; 
    /* stroke: var(--leftright); */
    margin-right: 0;
    




  }


  .slider-container:hover .rabbit,
  .slider-container:active .rabbit {
      fill: white;
  }

.fullscreen{
    fill: white;
    /* stroke-width: 1px; */
    color: aliceblue;
    margin-left: auto; /* Align to the right */
    max-width: 24px;
    max-height: 100px;
    margin-left: 0; /* Align to the right */
    cursor: pointer;
    fill: var(--leftright);   




}


.fullscreen-size {
    display: none;
    width: 10px;
    max-height: 100px;
    margin-left: auto; /* Align to the right */


}

.fullscreen:hover, #share:hover, .rabbit:hover{
    fill: var(--t1-color);   
    transition: all 0.1s ease-in-out;

}





.sharetitle {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 16px;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}

.sharetitle .tooltip-text {
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-family: 'cbook';
    font-weight: 400;
    letter-spacing: 0px;
    transform: translateX(-50%);
    background-color: rgb(66, 66, 66);
    color: #ffffff;
    padding: 5px 10px 7px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    -webkit-box-shadow: 0 7px 10px rgba(0,0,0,.3);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s, transform 0.2s ease; /* Add opacity transition */
    transition-delay: 0.2s; /* Delay the transition by 0.2s */
    -webkit-font-smoothing: antialiased;
    z-index: 100;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */

}

.sharetitle:hover .tooltip-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}


.rabbittitle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}

.rabbittitle .tooltip-text {
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-family: 'cbook';
    font-weight: 400;
    letter-spacing: 0px;
    transform: translateX(-50%);
    background-color: rgb(66, 66, 66);
    color: #ffffff;
    padding: 5px 10px 7px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    -webkit-box-shadow: 0 7px 10px rgba(0,0,0,.3);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s, transform 0.2s ease; /* Add opacity transition */
    transition-delay: 0.2s; /* Delay the transition by 0.2s */
    -webkit-font-smoothing: antialiased;
    z-index: 100;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */

}

.rabbittitle:hover .tooltip-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}


.fstitle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}

.fstitle .fs-text {
    position: absolute;
    bottom: 25px;
    left: -50%;
    font-family: 'cbook';
    font-weight: 400;
    letter-spacing: 0px;
    transform: translateX(-50%);
    background-color: rgb(66, 66, 66);
    color: #ffffff;
    padding: 5px 10px 7px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    -webkit-box-shadow: 0 7px 10px rgba(0,0,0,.3);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s, transform 0.2s ease; /* Add opacity transition */
    transition-delay: 0.2s; /* Delay the transition by 0.2s */
    -webkit-font-smoothing: antialiased;
    z-index: 100;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */

}

.fstitle:hover .fs-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}



#phonesharetitle{
    display: none;  

}


.phone-toggle, #phone-toggle, .phone-button {
    display: none;
}




/* Medium screens (tablets) */
@media  only screen and (max-height: 800px) {
    .music-player {
     
        height: 12vh; /* Adjust as needed */
    }
    
}


@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    /* Styles for medium screens go here */

    .time {
        width: 113.5%;
       
    }



  }

  /* @media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5)
  and (device-aspect-ratio: 1024/1366) { */

    /* @media only screen
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1.5) 
  {
    */

    @media only screen and (min-device-width: 768px) and (max-device-width: 1180px) {


  /* @media only screen and (max-width: 1366px) { */

    .phoneprogress-container {
        margin-bottom: -69px;
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: hsla(0,0%,100%,.3);
        z-index: 10000;

    }
    
    /* .phoneprogress-container:hover .phoneprogress-bar, .phoneprogress-container:active .phoneprogress-bar {
        background-color: var(--accent-color);
    } */
    
    .phoneprogress-container:hover .phonecircle, .phoneprogress-container:active .phonecircle {
        display: block;
    }
    
    .phoneprogress-bar {
        width: 0%;
        position: absolute;
        height: inherit;
        background-color: white;
        border-radius: 0px;
    }
    


    .phone-button {
        width: 32px;
        height: 32px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        align-items: center;
        background-color: white;
        border: none;
        border-radius: 100px;
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        position: relative;
        -webkit-transition: none 33ms cubic-bezier(.3, 0, .7, 1);
        transition: none 33ms cubic-bezier(.3, 0, .7, 1);
        -webkit-transition-property: all;
        transition-property: all;
        /* transition: transform 0.1s ease-in-out; */
        fill: var(--black);
    }
    
    .phone-button svg {
        width: 18px;
        fill: black;
    }
    
    .phone-button:active {
        transform: scale(1.1);
    }
    
    .phone-toggle {
        display: none;
    }
    

    .phone-button svg.phone-swap {
        display: none;
    }
    
    .phone-toggle:checked + .phone-button svg.phone-swap {
        display: block;
    }
    
    .phone-toggle:checked + .phone-button svg.phone-start {
        display: none;
    }
    

    .totop:hover, .tobottom:hover{
        fill: white;
    }

  .sideplayer{
    display: none;
}


.time{
    display: none;

}

.progress-bar-container{
    display: none;
}


.music-player{
    background-color: var(--phone-bg);
    vertical-align: middle;
    z-index: 100000;
    overflow: hidden;

    
}

.play-button{
    background-color: white;
}

.play-button svg{
    fill: black;
}

.controls {
    justify-content: flex-end; /* Align content to the end of the container */
    display: flex;

    max-width: auto;
    width: auto;
    align-items: center;
    /* justify-content: center; Updated from align-items to justify-content */
    margin: 0;
    /* margin-right: -200px;  */
    /* margin-top: -5px; */
    /* margin-right: -20px; */
    margin-left: auto; /* Push controls to the right */
 

}

.slider-bar{
    display: none;

}


.music-player {
    position: fixed;
    bottom: 10px;
    height: 65px;
    width: 95%;
    justify-self: middle;
    vertical-align: middle;
    
    border-radius: 10px;    
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;


    

}

.bottomplayer{
    margin-left: -8px;

}



.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 0;
    height: auto;


}

.song-info{
    display: flex;
    flex-direction: column;
    padding: 12px;


}
.song-details {
    width: 20px;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    -webkit-padding-start: 8px;
    min-width: 180px;
    padding-inline-start: 8px;
    width: 30%;
    position: relative;
    vertical-align: middle;
    align-items: center;
    margin: 0;
}


.sharetitle {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}

.albumcover{
    margin-bottom: 5px;
    padding-right: 4px;
    width: 39px; /* Make sure the image fills the entire container */
    height: 40px; /* Ensure the image takes up the full height */
    border-radius: 200px;



}


.albumcover img {
    width: 45px; /* Make sure the image fills the entire container */
    height: 45px; /* Ensure the image takes up the full height */
    border-radius: 5px;
    


}

.song-details{
}

#phonesharetitle{
    display: block;  

}

#phoneshare{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    /* background: transparent; */
    border: none;
    color: hsla(0,0%,100%,.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 16px;
    fill: white;   

}


#phoneshare:hover{
  
    fill:white;   

}

.play-toggle, .play-button{
    display: none;
}
.totop{
    fill: hsla(0,0%,100%,.7);   

}

.tobottom{
    fill: hsla(0,0%,100%,.7);   

}

.song-title{
    color: white;
}

.artist{
    color:  hsla(0, 0%, 100%, 0.75);
}


.lowerphonegrad{
    position: fixed;
    background: linear-gradient(to top, var(--sec-color) 0%, transparent);
    /* background: transparent: */
    height: 150px;
    width: 120%;
    z-index: 1000px;
    bottom: 0px;
    margin-left: -10px;

}
    .song-info{
        margin-left: 4px;
      
    
    
    }

  }


  
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    /* Styles for medium screens go here */

    .time {
        width: 116.5%;
       
    }



  }
  

  @media only screen and (min-width: 600px) and (max-width: 1100px) {
    /* Styles for medium screens go here */

    .time {
        width: 120.5%;
       
    }



  }




  @media only screen and (max-width: 850px) {


    .phoneprogress-container {
        margin-bottom: -69px;
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: hsla(0,0%,100%,.3);
        z-index: 10000;

    }
    
    /* .phoneprogress-container:hover .phoneprogress-bar, .phoneprogress-container:active .phoneprogress-bar {
        background-color: var(--accent-color);
    } */
    
    .phoneprogress-container:hover .phonecircle, .phoneprogress-container:active .phonecircle {
        display: block;
    }
    
    .phoneprogress-bar {
        width: 0%;
        position: absolute;
        height: inherit;
        background-color: white;
        border-radius: 0px;
    }
    


    .phone-button {
        width: 32px;
        height: 32px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        align-items: center;
        background-color: white;
        border: none;
        border-radius: 100px;
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        position: relative;
        -webkit-transition: none 33ms cubic-bezier(.3, 0, .7, 1);
        transition: none 33ms cubic-bezier(.3, 0, .7, 1);
        -webkit-transition-property: all;
        transition-property: all;
        /* transition: transform 0.1s ease-in-out; */
        fill: var(--black);
    }
    
    .phone-button svg {
        width: 18px;
        fill: black;
    }
    
    .phone-button:active {
        transform: scale(1.1);
    }
    
    .phone-toggle {
        display: none;
    }
    

    .phone-button svg.phone-swap {
        display: none;
    }
    
    .phone-toggle:checked + .phone-button svg.phone-swap {
        display: block;
    }
    
    .phone-toggle:checked + .phone-button svg.phone-start {
        display: none;
    }
    

    .totop:hover, .tobottom:hover{
        fill: white;
    }

  .sideplayer{
    display: none;
}


.time{
    display: none;

}

.progress-bar-container{
    display: none;
}


.music-player{
    background-color: var(--phone-bg);
    vertical-align: middle;
    z-index: 100000;
    overflow: hidden;

    
}

.play-button{
    background-color: white;
}

.play-button svg{
    fill: black;
}

.controls {
    justify-content: flex-end; /* Align content to the end of the container */
    display: flex;

    max-width: auto;
    width: auto;
    align-items: center;
    /* justify-content: center; Updated from align-items to justify-content */
    margin: 0;
    /* margin-right: -200px;  */
    /* margin-top: -5px; */
    /* margin-right: -20px; */
    margin-left: auto; /* Push controls to the right */
 

}

.slider-bar{
    display: none;

}


.music-player {
    position: fixed;
    bottom: 10px;
    height: 65px;
    width: 95%;
    justify-self: middle;
    vertical-align: middle;
    
    border-radius: 10px;    
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;


    

}

.bottomplayer{
    margin-left: -8px;

}



.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 0;
    height: auto;


}

.song-info{
    display: flex;
    flex-direction: column;
    padding: 12px;


}
.song-details {
    width: 20px;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    -webkit-padding-start: 8px;
    min-width: 180px;
    padding-inline-start: 8px;
    width: 30%;
    position: relative;
    vertical-align: middle;
    align-items: center;
    margin: 0;
}


.sharetitle {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    overflow: visible; /* or auto, scroll, hidden, depending on your layout */
    z-index: 100;

}

.albumcover{
    margin-bottom: 5px;
    padding-right: 4px;
    width: 39px; /* Make sure the image fills the entire container */
    height: 40px; /* Ensure the image takes up the full height */
    border-radius: 200px;



}


.albumcover img {
    width: 45px; /* Make sure the image fills the entire container */
    height: 45px; /* Ensure the image takes up the full height */
    border-radius: 5px;
    


}

.song-details{
}

#phonesharetitle{
    display: block;  

}

#phoneshare{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    /* background: transparent; */
    border: none;
    color: hsla(0,0%,100%,.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    justify-content: center;
    min-width: 32px;
    position: relative;
    width: 16px;
    fill: white;   

}


#phoneshare:hover{
  
    fill:white;   

}

.play-toggle, .play-button{
    display: none;
}
.totop{
    fill: hsla(0,0%,100%,.7);   

}

.tobottom{
    fill: hsla(0,0%,100%,.7);   

}

.song-title{
    color: white;
}

.artist{
    color:  hsla(0, 0%, 100%, 0.75);
}


.lowerphonegrad{
    position: fixed;
    background: linear-gradient(to top, var(--sec-color) 0%, transparent);
    height: 150px;
    width: 120%;
    z-index: 1000px;
    bottom: 0px;
    margin-left: -10px;

}
    .song-info{
        margin-left: 4px;
      
    
    
    }

  

  }

    @media only screen and (max-width: 380px) {


        .song-details{
            margin-right: -15px;
        }

        .controls{
            margin-right: 40px;
        }

        .progress-bar-container{
            display: none;
        }

        .song-info{
            margin-left: 0px;
          
        
        
        }


    }

    

    .slow-scroll {
        scroll-behavior: smooth;
        transition-duration: 5s; /* Adjust the duration as needed */
      }